body {

    background-color: lightcyan;
    font-family: sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15%;
    padding-right: 15%;

}

button {

    padding: 15px;
}

input {

    padding: 15px;
}

p {

    padding: 15px;
    font-size: larger;
}

div {

    align-items: center;
}

